* {
    box-sizing: border-box;
}

/**/
/**/
body {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button:focus,
select:focus,
input:focus {
    outline: none;
}

button:active {
    transform: scale(1.1);
}

.settings-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.settings {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in;
    /*text-align: center;*/
}

.settings.hide {
    transform: translateY(-100%);
}

label {
    font-size: 18px;
    letter-spacing: 0.5px;
}

select {
    width: 200px;
    font-size: 16px;
    padding: 5px;
    appearance: none;
    border-radius: 0;
    background-color: #a7c5e3;
}

.container {
    width: 500px;
    padding: 20px;
    border-radius: 4px;
    background-color: #34495E;
    color: #fff;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    text-align: center;
    position: relative;
}

.container h2 {
    background-color: #243342;
    text-align: center;
    margin: 0 0 40px;
    padding: 8px;
    border-radius: 4px;
}

h1 {
    margin: 0;
}

input {
    width: 300px;
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}

.time-container {
    position: absolute;
    top: 60px;
    left: 20px;
}

.score-container {
    position: absolute;
    top: 60px;
    right: 20px;
}

.end-game-box {
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
